# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# MacOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage directory used by testing tools
coverage/

# Temporary files
tmp/
temp/

# Build output
dist/
build/

# Typescript
*.tsbuildinfo

# Docker
docker-compose.override.yml
.dockerignore

# MongoDB data files
data/db/

# Jest
jest-output/
jest-test-results.json
